.location {
  text-align: center;
  width: 150px;
  font-weight: bold;

  img {
    border-radius: 10px;
    height: 200px;
  }

  h2 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
    color: grey;
  }
}
