.content__titles {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url('/fondoTitulos.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 55vh;

  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }

  h1 {
    color: white;
    //-webkit-text-stroke: 1.5px black; Delinear letras
  }

  &--mobileBox {
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
  }

  &--search {
    height: 230px;
    background-color: white;
    border-radius: 10px;

    h4 {
      margin: 0 10px 10px;
      font-size: 12px;
      color: gray;
    }

    h3 {
      font-size: 14px;
    }

    .amount {
      font-weight: bold;
    }

    button {
      margin: 20px;
      padding: 10px 15px;
      height: 35px;
      color: white;
      border: 0;
      background-color: red;
    }
  }

  &--border {
    width: 120px;

    .location {
      width: 110px;
    }
  }

  .border__right1 {
    border-right: 2px solid gainsboro;
  }

  .border__right2 {
    display: none;
  }
}

@media Screen and (max-width: 650px) {
  .content__titles {
    height: 55vh;

    &--search {
      height: 40vh;
      width: 90vw;
      margin: 0 auto;
    }
  }
}

@media Screen and (min-width: 650px) {
  .content__titles {
    height: 60vh;

    &--search {
      display: flex;
      justify-content: space-around;
      padding: 0;
      width: 80vw;
    }

    &--border {
      padding: 0 20px;
    }

    &--box {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }

    .border__right2 {
      display: flex;
      border-right: 2px solid gainsboro;
    }
  }
}

@media Screen and (min-width: 967px) {
  .content__titles {
    height: 300px;

    &--search {
      height: 180px;
      width: 70vw;
    }
  }
}

@media Screen and (min-width: 810px) {
  .content__titles {
    height: 300px;

    &--search {
      height: 180px;
    }
  }
}

@media Screen and (min-width: 1115px) {
  .content__titles {
    height: 250px;

    &--search {
      height: 100px;
      width: 70vw;
    }
  }
}

@media Screen and (min-width: 1300px) {
  .content__titles {
    &--search {
      width: 60vw;
    }
  }
}
