.content__offer {

  width: 200px;

  &--image img{
    border-radius: 10px;
    height: 150px;
  }


  &--text {

    font-weight: bold;

    h2 {
      font-size: 16px;
    }

    p {
      font-size: 14px;
      color: grey;
    }
  }
}
