.content__room {
  padding: 15px;
  border: 2px outset rgb(220, 220, 220, 0.5);
  display: flex;
  flex-wrap: wrap;
  align-items: center;



  h4 {
    margin-top: 0;
  }

  &--title, img {
    width: 100%;
    margin: 0 auto;
  }

  &--characteristics {
    display: flex;
    flex-wrap: wrap;

    &-information {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      &-list {
        display: flex;
        width: 300px;
        gap: 40px;

      }
    }

    h4 {
      margin: 10px;
    }
  }

  &--price {
    width: 300px;

    a {
      color: white;
      font-weight: bold;
    }

    h4 {
      margin: 0;
      font-size: 23px;
    }

    p {
      margin: 5px 0;
      font-size: 16px;
      color: grey;
    }

    .line {
      text-decoration: line-through;
    }

    button {
      background-color: red;
      border: 0;
      height: 30px;
      color: white;
      font-weight: bold;
      width: 110px;
    }
  }
}

@media Screen and (min-width: 500px) {
  .content__room {
    display: flex;
    justify-content: center;

    img {
      height: 200px;
      width: 360px;
    }

    &--characteristics {
      gap: 20px;
      &-information {
        width: 360px;
      }
    }
  }
}

@media Screen and (min-width: 810px) {
  .content__room {
    display: flex;
    justify-content: center;

    &--title {
      width: 740px;
    }
  }
}
